/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;

$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
$energized:                       #33E0E7 !default;
$blackBig:                        #161616 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "www/app/login/login";
@import "www/app/staff/personal";
@import "www/app/home/home";
@import "www/app/associate/associate";
@import "www/app/perfil/perfil";
@import "www/app/damageReport/damageReport";
@import "www/app/depreciationReport/depreciationReport";
