<ion-view class="home" hide-nav-bar="false" title="Depreciation Report" can-swipe-back="false" cache-view="false">
  <ion-content>




    <div class="topContainer">
      <div class="row">
        <div class="col">Item</div>
        <div class="col">Date of Purchase</div>
        <div class="col">Time In Use</div>
      </div>
      <ion-scroll direction="y" class="test">
        <div class="row" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]">
          <div class="col">MackBook Pro</div>
          <div class="col">Jun {{i}}</div>
          <div class="col">{{i}} years</div>
        </div>
      </ion-scroll>
    </div>


  </ion-content>
</ion-view>
