.login {
  background: $blackBig;
  color: #EDECE8!important;
  text-align: center;
  .padding {
    padding: 30px;
  }
  form {
    margin-top: 80px;
  }
}
.border-button {
  border:1px solid #33E0E7 !important;
  color: #33E0E7 !important;
}
.input {
  color: #EDECE8!important;
  text-align: center;
  border-bottom: 1px solid #33E0E7 !important;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  background: transparent;
  margin: 30px auto;
  @include border-radius(0);
  @include box-shadow(none);

}
.custom-image-login{
  width: 300px;
  padding-top: 25%;
}
