<ion-view class="login" hide-nav-bar="true" title="Login" can-swipe-back="false" cache-view="false">
  <ion-content has-bouncing="false" padding="true">

    <div>
      <img ng-src="img/login.png" ng-click="login.tapCountDebug()" class="custom-image-login">
    </div>
    <form name="loginForm" ng-submit="login.authenticate()">
      <input
        class="input"
        type="text"
        placeholder="Username"
        ng-model="login.credentials.username"
        autocorrect="off"
        autocapitalize="none"
        required>
      <input
        class="input"
        type="password"
        placeholder="Password"
        ng-model="login.credentials.password"
        required>
      <div class="textRed"
           ng-show="login.errorLogin.error"
           ng-class="{shake: login.errorLogin.error }">
        Incorrect user or password
      </div>
      <div class="textRed "
           ng-show="login.errorLogin.settings"
           ng-class="{shake: login.errorLogin.settings }">
        Retail Settings Failed
      </div>
      <div>
        <ion-spinner ng-show="login.loading"></ion-spinner>
        <button
                type="submit"
                class="button button-block button-outline button-energized">
          Login
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
