.person{
  height: 250px;
  width: 100%;
  background-position: center;
  background-size: 200% 200%;
  background-color: #1C1C1C;
  -webkit-filter: grayscale(100%);
  opacity:0.7;
}
.name{
  left: 0px;
  top: 200px;
  position: relative;
  font-size: 250%;
}
.object{
  margin-top: 10%;
  height: 250px;
  width: 100%;
  background-position: center;
  background-size: 80% 80%;
  background-repeat:no-repeat;

}
.item-profile {
  height: 150px;
  background-color: transparent;
  border: transparent;
  width: 160px;
  margin: auto;
  .item-avatar > img:first-child {
    max-width: 125px;
    max-height: 125px;
  }
}
.type_2{
  background: url('../../img/line.png');
  height: 100px;
}
.rounded{
  border-radius: 7px;
  background: #282626;
  height: 35px;
  border:none;
}
.container{
  width: 300px;
  margin-left:auto;
  margin-right: auto;
}
.custom-icon {
  font-size: 26px;
  color : $energized;
}

.custom-downFlecha {
  font-size: 65px;
  color : $energized;
}
.number{
  font-size: 24px;
}
.flecha{
  margin-top: 25px;
}
.topContainer{
  background-color: $blackBig;
}
.bottomContainer{
  padding-top: 5%;
}
.item-input input, .item-input textarea {
  width: 100%;
  color: white!important;
}
