<ion-view class="home" title="Associate" can-swipe-back="false" cache-view="false">
  <ion-content has-bouncing="false" padding="true">
    <div class="topContainer">
      <div>
        <p>{{associate.person.name}}<br>{{associate.person.city}} - {{associate.person.country}} </p>
      </div>
      <ion-item class="item-profile">
        <div class="item-avatar">
          <img ng-src="{{associate.person.imageUrl}}">
        </div>
      </ion-item>
      <div class="row">
        <div class="col col-50">
          Things Assigned
          <p class="number">
            {{associate.person.assignedNumber}}
          </p>
        </div>
        <div class="col col-50">
          Things requested
          <p class="number">
            {{associate.person.requestNumber}}
          </p>
        </div>
      </div>
    </div>
    <div class="button-bar">
      <a class="button button-dark custom-button button-active" ng-click="associate.swipe()">ASSIGN NEW DEVICE</a>
      <a class="button button-dark custom-button" ng-click="associate.goToHome()">SCAN AGAIN</a>
    </div>
    <div class="bottomContainer">
      <div class="container">
        <label class="item item-input rounded">
          <i class="icon ion-ios-barcode-outline placeholder-icon custom-icon"></i>
          <input type="text" ng-model="associate.barcode">
        </label>
      </div>
      <div class="flecha" >
        <i class="icon icon-003-download-arrow placeholder-icon custom-downFlecha" on-swipe-down="associate.swipe()"></i>
      </div>
      <div class="flecha">
        <i class="icon icon-010-archive placeholder-icon custom-downFlecha" on-swipe-down="associate.swipe()"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
