.detail-data {
  color: $energized;
  text-align: left;
}

.slider-slide h3 {
  color: #fff;
  margin-top: 10px;
}

.scroll {
  height: 100%;
}

.boxCustom {
  background-color: #262624 !important;
  text-align: center;
  margin: 0px 0px!important;
  position: relative;
  background-color: #fff;
  height: 10%;
}

.iconCustom {
  color: $energized !important;
  font-size: 200% !important;
}

.boxBottomBox {
  background-color: #262624 !important;
}

.tabbed-slidebox .slider-slide {
  background-color: #262624 !important;
}

.tabbed-slidebox .tsb-icons:after {
  display: none !important;
}

.titleCustom {
  background-color: #262624;
  color: white;
  border-color: $energized;
  border-width: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 50%;
  padding-bottom: 0% !important;
  padding-top: 0% !important;
  font-weight: bold;
  overflow: visible;
  text-transform: uppercase;
}

.list {
  padding-top: 0px;
}

.itemCustom {
  background-color: #262624;
  border: none;
  color: #d0d0c9 !important;
  padding-left: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tabbed-slidebox .slider {
  height: 45% !important;
}

.leftButton {
  border-radius: 30px 30px 30px 30px !important;
  border-width: 1px 1px 1px 1px !important;
  margin-left: 2%;
  margin-right: 2.5%;
  line-height: 20px !important;
  min-height: 24px !important;
}

.rightButton {
  border-radius: 30px 30px 30px 30px !important;
  border-width: 1px 1px 1px 1px !important;
  margin-left: 2.5%;
  margin-right: 2%;
  line-height: 20px !important;
  min-height: 24px !important;
}
.iconCustomContent {
  color: #33E0E7 !important;
  font-size: 100% !important;
}
