<ion-view class="personal" title="Perfil" can-swipe-back="false" cache-view="false">
  <ion-content over-scroll='false' delegate-handle="userDetailContent" on-scroll="perfil.onUserDetailContentScroll()" header-shrink scroll-event-interval="5">
    <div class="about-header">
          <div>
            <img ng-src="{{perfil.person.imageUrl}}" class="about-image" style="vertical-align:middle;">
          </div>
    </div>
    <tab-slide-box tab="0" >
      <div class="tsb-icons boxCustom">
          <div class="tsb-ic-wrp">
            <ion-scroll direction="x" class="tsb-hscroll">
              <a href="javascript:;" class="iconCustom" ng-class="perfil.getIcon(object.typeObject.value)"
                 on-finish-render="test()" ng-repeat="object in perfil.objects"></a>
            </ion-scroll>
          </div>
      </div>
      <ion-slide-box show-pager="false" class="boxBottomBox" on-slide-changed="slideHasChanged($index)">
        <ion-slide ng-repeat="object in perfil.objects">
          <div class="detail-data">
            <ul class="list">
              <li class="item titleCustom">
                {{object.typeObject.value}}
              </li>
              <li class="item itemCustom">
                MacBook Pro 15-inch with
              </li>
              <li class="item titleCustom">
                CODE RFID
              </li>
              <li class="item itemCustom">
                {{object.serialNumber}}
              </li>
              <li class="item titleCustom">
                DATE OF ASSIGMENT
              </li>
              <li class="item itemCustom">
                {{object.createdTime | date:'medium'}}
              </li>
              <li class="item titleCustom">
                REGISTERED BY
              </li>
              <li class="item itemCustom">
                Victor Contreras
              </li>
            </ul>
          </div>
          <div class="button-bar">
            <a class="button button-block button-outline button-energized leftButton">First</a>
            <a class="button button-block button-outline button-energized rightButton"
               ng-click="perfil.disassociate(object)">UnLink</a>
          </div>
        </ion-slide>

      </ion-slide-box>
    </tab-slide-box>

  </ion-content>
</ion-view>
