<ion-view class="home" hide-nav-bar="false" title="Damage Report" can-swipe-back="false" cache-view="false">
  <ion-content>




    <div class="topContainer">

      <div class="row">
        <div class="col">Item</div>
        <div class="col">Type Of Damage</div>
        <div class="col">Date</div>
        <div class="col-20"></div>
      </div>
      <ion-scroll direction="y" class="test">
        <div class="row" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11]">
          <div class="col">MackBook Pro</div>
          <div class="col">Physical</div>
          <div class="col">Jun 24</div>
          <div class="col-10"><i class="icon ion-trash-a"></i></div>
          <div class="col-10"><i class="icon ion-settings"></i></div>
        </div>
      </ion-scroll>
    </div>
    <div class="bottomContainer">

      <angular-chart options="damageReport.climateOptions" ></angular-chart>

    </div>

  </ion-content>
</ion-view>
