.home {
  background: #1C1C1C;
  color: #EDECE8;
  text-align: center;
}
.logo {
  width: 100%;
  height: 50%;
  margin: auto;
  padding-top: 30%;
  background-color: $blackBig;
}
.rowHome{
  height: 45%;
  padding-top: 10%;
}
.custom-iconTop{
  font-size: 120px;
  color : $energized;
}
.custom-iconHome {
  font-size: 60px;
  color : $energized;
}
.custom-button{
  border-left: none;
  border-right: none;
  border-top: none;
  background-color : $blackBig!important;
  border-bottom-width: 2px!important;
  color: #444!important;
}
.button-active{
  border-color:$energized!important;
  color: white!important;
}
