<ion-view class="home" hide-nav-bar="true" title="Home" can-swipe-back="false" cache-view="false">
  <ion-content has-bouncing="false" padding="true">
    <div class="logo">
      <i class="icon icon-010-archive placeholder-icon custom-iconTop"></i>
    </div>
    <div class="button-bar">
      <a class="button button-dark custom-button" ng-class="(home.isInventory?'button-active':'')" ng-click="home.changeInventory()">INVENTORY</a>
      <a class="button button-dark custom-button" ng-class="(home.isInventory?'':'button-active')" ng-click="home.changeReport()">REPORTS</a>
    </div>
    <div ng-show="home.isInventory" class="row rowHome">
      <div class="col col-50" ng-click="home.scanBarcode()">
        <i class="icon ion-ios-barcode-outline placeholder-icon custom-iconHome"></i>
        <br>
        BARCODE
      </div>
      <div class="col col-50" ng-click="home.scanRfid()">
        <i class="icon ion-social-rss-outline placeholder-icon custom-iconHome"></i>
        <br>
        RFID
      </div>
    </div>
    <div ng-hide="home.isInventory">
      <div  class="row rowHome">
        <div class="col col-50" ng-click="home.goToPersonal()">
          <i class="icon ion-ios-people placeholder-icon custom-iconHome"></i>
          <br>
          STAFF
        </div>
        <div class="col col-50" ng-click="home.goToDepreciationReport()">
          <i class="icon ion-arrow-graph-down-left placeholder-icon custom-iconHome"></i>
          <br>
          DEPRECIATION
        </div>
      </div>
      <div ng-hide="home.isInventory" class="row rowHome">
        <div class="col col-50" ng-click="home.goToDamageReport()">
          <i class="icon ion-settings placeholder-icon custom-iconHome"></i>
          <br>
          DAMAGED
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
