.personal {
  background: #262624;
  color: #EDECE8;
  text-align: center;

}
.inputPersonal{
  background: #262624!important;
  margin: 0px auto;
  border:none;
}
.listItem{
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: black;
  color: #EDECE8!important;
  background: #262624!important;
  text-align: left;
  margin: auto;
}
.text{
  color: #EDECE8!important;
}
.padding {
  padding: 0px;
}

.containerHome{
  background: #10131E;
  margin-left:auto;
  margin-right: auto;
}
.roundedPersonal{
  border-radius:25px;
  width: 97%;
  background-color: #3A3D44!important;
}
