<ion-view class="personal" title="Personal" can-swipe-back="false" cache-view="false">
  <ion-content has-bouncing="false" padding="true">
    <div class="containerHome">
      <label class="item item-input roundedPersonal inputPersonal">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search for Contact" ng-model="searchText">
      </label>
    </div>
    <div class="list">
      <a class="item item-avatar listItem" ng-click="staff.goAssociate(person.name)" ng-repeat="person in staff.staff | filter: searchText">
        <img ng-src="{{person.imageUrl}}">
        <p class="text">{{person.name}}</p>
        <p>{{person.floor}}th Floor</p>
      </a>
    </div>
  </ion-content>
</ion-view>
