@font-face {
  font-family: 'inventoryapp';
  src: url('../font/inventoryapp.eot?65530771');
  src: url('../font/inventoryapp.eot?65530771#iefix') format('embedded-opentype'),
       url('../font/inventoryapp.woff2?65530771') format('woff2'),
       url('../font/inventoryapp.woff?65530771') format('woff'),
       url('../font/inventoryapp.ttf?65530771') format('truetype'),
       url('../font/inventoryapp.svg?65530771#inventoryapp') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'inventoryapp';
    src: url('../font/inventoryapp.svg?65530771#inventoryapp') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "inventoryapp";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-down-small:before { content: '\e800'; } /* '' */
.icon-001-rfid-chip:before { content: '\e801'; } /* '' */
.icon-002-barcode:before { content: '\e802'; } /* '' */
.icon-003-download-arrow:before { content: '\e803'; } /* '' */
.icon-004-keyboard:before { content: '\e804'; } /* '' */
.icon-005-technology-1:before { content: '\e805'; } /* '' */
.icon-006-technology:before { content: '\e806'; } /* '' */
.icon-007-smartphone:before { content: '\e807'; } /* '' */
.icon-008-laptop:before { content: '\e808'; } /* '' */
.icon-009-tick-inside-circle:before { content: '\e809'; } /* '' */
.icon-010-archive:before { content: '\e80a'; } /* '' */
.icon-011-shopping-cart:before { content: '\e80b'; } /* '' */
.icon-012-back:before { content: '\e80c'; } /* '' */
.icon-013-next:before { content: '\e80d'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */