
.icon-down-small:before { content: '\e800'; } /* '' */
.icon-001-rfid-chip:before { content: '\e801'; } /* '' */
.icon-002-barcode:before { content: '\e802'; } /* '' */
.icon-003-download-arrow:before { content: '\e803'; } /* '' */
.icon-004-keyboard:before { content: '\e804'; } /* '' */
.icon-005-technology-1:before { content: '\e805'; } /* '' */
.icon-006-technology:before { content: '\e806'; } /* '' */
.icon-007-smartphone:before { content: '\e807'; } /* '' */
.icon-008-laptop:before { content: '\e808'; } /* '' */
.icon-009-tick-inside-circle:before { content: '\e809'; } /* '' */
.icon-010-archive:before { content: '\e80a'; } /* '' */
.icon-011-shopping-cart:before { content: '\e80b'; } /* '' */
.icon-012-back:before { content: '\e80c'; } /* '' */
.icon-013-next:before { content: '\e80d'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */